@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    cursor: url('../maslatoncursor.png'), auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.fadeInTransition {
    animation: fadeIn 0.4s;
}

